name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Copy repository contents via scp
      uses: appleboy/scp-action@master
      env:
        HOST: ${{ secrets.HOST }}
        USERNAME: ${{ secrets.USERNAME }}
        PORT: ${{ secrets.PORT }}
        KEY: ${{ secrets.KEY }}
      with:
        source: "."
        target: "bot"

    - name: Executing remote command
      uses: appleboy/ssh-action@master
      env:
        TOKEN: ${{ secrets.TOKEN }}
        GUILD_ID: ${{ secrets. GUILD_ID }}
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
      with:
        host: ${{ secrets.HOST }}
        USERNAME: ${{ secrets.USERNAME }}
        PORT: ${{ secrets.PORT }}
        KEY: ${{ secrets.KEY }}
        script: |
          cd "bot"
          npm install
          filename=".env"
          echo -e "GUILD_ID=$GUILD_ID\nCLIENT_ID=$CLIENT_ID\nTOKEN=$TOKEN" > $filename
          npm start
          